/*To do: Think about better options for the images that being use in this file*/
.ggds {

    .nav-footer h4 {
        font-size: 1.6rem;
        font-weight: 400;
    }

    @media(min-width: $screen-sm) and (max-width: $screen-md) {
        .nav-footer h4 {font-size: 1.6rem}
    }

    .nav-footer ul li {
        font-size: 1.1em;
        line-height: 30px;
    }

    .footer-content ul {
        padding: 0;
        list-style-type: none;
    }

    .nav-footer .footer-bottom {
        padding: 20px 0;
        margin: 0;
        height: inherit;
        background: $brand-primary;
        color: #fff;
    }

    @media(min-width: $screen-sm) {
        .max-width-555-desk {max-width: 555px}
    }

    .footer-logo {
        max-width: 260px;
        margin-top: -20px;
    }

    .footer-content {background: $gray-light}

    .fa-external-link {color: $brand-primary}

    .footer-content h4 {border-bottom: 2px solid #fff}

    .footer-content h4:after {
        content: '';
        display: block;
        margin-bottom: -2px;
        height: 5px;
        border-bottom: 2px solid $brand-secondary;
    }

    .footer-content .shoponline h4:after {max-width: 130px}

    .footer-content .abouts h4:after {max-width: 70px}

    .footer-content .topbrands h4:after,
    .footer-content .easypayment h4:after {
        max-width: 170px;
    }

    .footer-content .customerservice h4:after,
    .footer-content .shopfast h4:after {
        max-width: 180px;
    }

    .socialmedia > div {
        padding-left: 0;
    }

}
