.ggds{

/* ---------------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------------- */

#masthead { position: relative;  }


/* Masthead branding and logo */
.masthead-header {
    background: #fff;
    color: $brand-primary;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
    float: none;
    min-height: 50px;
    max-height: 70px;
}
    .masthead-branding-logo {
        display: block;
        padding: 3px 0;
        margin: 0;
        position: relative;
        width: 100%;
        min-height: 50px;
    }
        .masthead-branding-logo img {
            margin: 0 auto;
            max-height: 50px;
            padding: 0;
            display: inline-block;
            white-space: nowrap;
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;
        }

    @media screen and (min-width: $screen-sm) {

       .masthead-header {
            padding-top: 0;
            font-size: 1em;
            background: transparent;
       }

        .masthead-branding-logo {
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            min-height: 50px;
        }
            .masthead-branding-logo img { margin: 0; }

    } // End @media small


    .masthead-header .supplementary {
        text-align: right;
        padding-top: 20px;
    }

/* Mobile search ----------------------------------------------------- */
.search-mobile {
    padding: 0.5em 0;
    margin: 0 auto;
    position: relative;
    font-size: 1.5em;
}
    .search-mobile form {
        position: relative;
        width: 100%;
        text-align: left;
    }
    .search-mobile .searchbox {
        display: block;
        border: 1px solid #ccc;
        line-height: 1.5;
        box-shadow: none;
        padding: 4px 45px 4px 10px;
        margin: 0;
        background: #fff;
        color: $gray;
        font-size: 0.9em;
        width: 100%;
        border-radius: 0 6px 6px 0;
        transition: background 1s linear;
    }
        .search-mobile .searchbox:focus {
            color: #000;
            outline: none;
            border-color: #c0c0c0;;
            background: #fff;
        }


    .search-mobile .btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        padding: 0.26em 0.4em;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        line-height: 1;
        outline: none;
        background-color: $brand-primary;
        border: none;
        border-radius: 0 6px 6px 0;
    }
        .search-mobile .btn:active,
        .search-mobile .btn:hover { color: $brand-info; }


@media screen and (min-width: $screen-sm) {

/* Adapt Search for Tablet and above */
#search {
    position: relative;
    margin-top: 18px;
    padding-left: 25px;
    line-height: 1;
    text-align: left;
}
    #search .searchbox {
        display: block;
        max-width: 100%;
        line-height: 1;
        box-shadow: none;
        padding: 6px 8px 4px 30px;
        margin: 0;
        background: $gray-lighter;
        color: $gray-darker;
        border: 1px solid $gray-light;
        font-size: 1.2em;
        font-weight: 400;
        border-radius: 2px;
        transition: background 1s linear;
    }
        #search .searchbox:focus {
            background: #fff;
            color: #000;
            border-color: $gray;
            outline: none;
        }
            #search .searchbox:focus + .btn { color: $gray-dark; }

        #search .btn {
            background: none;
            border: none;
            color: $gray;
            font-size: 1.3em;
            outline: none;
            position: absolute;
            right: inherit;
            left: 17px;
            top: -2px;
            width: 32px;
        }
            #search .btn:hover { color: $brand-info; }
}
.search-mobile #searchsubmit {height: 38px}
.search-mobile #searchsubmit i.fa-search {line-height: 26px}

    @media screen and (min-width: $screen-xs) {
        #search {
            margin-top: 15px;
            padding-left: 10px;
        }
        #search .btn {
            left: 5px;
        }
    }
    @media screen and (min-width: $screen-sm) {
        .small-nav > li {
            padding: 0 5px;
            border-right: 1px solid #9e9e9e;
        }
        .small-nav > li > a .fa,
        .small-nav > li > a:hover .fa {
            font-size: 1.2em;
        }

    }
    @media screen and (min-width: $screen-xs) and (max-width: $screen-md) {
        .small-nav > li {
            height: 22px;
            vertical-align: top;
        }
        .supplementary .small-nav > li:last-child {
            padding-top: 3px;
            border-right: 0 none;
        }
        .supplementary .small-nav > li:nth-child(2) {
            padding-top: 3px;
        }
    }
}

