.ggds{
    #masthead {position: relative}
    .nav_model .close {opacity: 1}

    /* Mobile search ----------------------------------------------------- */
    #mobile-search {padding: 0}
    .search-mobile {
        position: relative;
        padding-bottom: 0.5em;
        font-size: 1.5em;
    }
        .search-mobile .searchbox {
            color: $gray;
            background-color: #fff;
            font-size: .9em;
            font-weight: 300;
            line-height: 1.5;
            border: 1px solid #ccc;
            border-radius: 0 6px 6px 0;
            transition: background 1s linear;
        }
            .search-mobile .searchbox:focus {
                color: #000;
                background: #fff;
                border-color: #c0c0c0;
                outline: none;
            }
        .search-mobile .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 45px;
            padding: 0.2em 0.4em;
            color: #fff;
            font-size: 1.2em;
            line-height: 1;
            outline: none;
            background-color: $brand-primary;
            border: 0 none;
            border-radius: 0 6px 6px 0;
        }
            .search-mobile .btn:active,
            .search-mobile .btn:hover {color: $brand-info}
            .search-mobile .btn .fa {line-height: 26px}
    .mobilemenu-toggle {display: block}

    /* Mobile Minicart and Menu Toggle Icons  */
    .mobile-minicart-svg {
        width: 45px;
        height: 40px;
        padding-top: 10px;
    }
    .mobile-toggle-svg {
        display: inline-block;
        max-width: 30px;
        height: 36px;
        padding-top: 14px;
    }
    .fill-primary {
        fill: $brand-primary;
    }
    /* Mobile Menu ----------------------------------------------------- */
    .mobilemenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
        background: rgba(25, 102, 175, 0.6);
        z-index: 2001;
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
    }
    /* Mobile Menu: Header ----------------------------------------------------- */
    .mobilemenu-header {
        position: fixed;
        right: 0;
        top: 0;
        width: 20%;
        height: 7.2vh;
        transition: width .5s, background .5s;
        z-index: 1;
    }
    .productNavOpen .mobilemenu-header {
        width: 100%; 
        background-color: rgba(0, 0, 0, 0.2);
    }
    .productNavOpen .mobilemenu-header .mobilemenu-close {background-color: transparent}
    .mobilemenu-header .mobilemenu-close {
        position: absolute;
        top: 0;
        right: 0;
        height: 7vh;
        padding: 0.75em;
        z-index: 30;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .mobilemenu-header .mobilemenu-back {
        display: none;
        position: absolute;
        top: 0;
        left: 85%;
        height: 9vh;
        padding: .9em 1.5em;
        transition: opacity .5s, display .5s, left .5s;
        opacity: 0;
        z-index: 31;
    }
    .productNavOpen .mobilemenu-header .mobilemenu-back {
        display: block;
        left: 0;
        opacity: 1; 
    }
        .mobilemenu-header .mobilemenu-icon-svg {
            max-height: 24px;
            max-width: 24px;
            fill: #fff;
        }
    /* Mobile Menu: Body ----------------------------------------------------- */
    .mobilemenu-body {
        position: fixed;
        left: 0;
        right: 0;
        top: 1vh;
        bottom: 15vh;
        width: 100%;
        transition: all 0.5s ease-in-out;
        overflow-y: scroll;
    }
    .mobilemenu-body > ul {margin-top: 6vh!important}

    .mobilemenu-l1 {
        position: fixed;
        top: 10vh;
        bottom: 100vh;
        left: 0;
        right: 0;
        max-height: 90vh;
        transition: opacity .5s ease-in-out, top .5s ease, bottom .5s ease, left .5s, 1s;
        opacity: 0;
    }
    .productNavOpen .mobilemenu-body {
        top: 100vh;
        opacity: 0;
    }
    .productNavOpen .mobilemenu-l1 {
        bottom: 0;
        opacity: 1;
    }
    .nav_overlay .offpage {
        bottom: 100%;
        transform: rotateY(-35deg); 
        overflow: hidden;
    }
    .mobilemenu-body.offpage {   
        opacity: 0;
    }
        .mobilemenu ul {
            padding: 0;
            margin: 0;
            font-family: $font-family-fancy;
            list-style: none;
        }
    /* Mobile Menu: Menu Items ----------------------------------------------------- */
    .mobilemenu .menuitem {
        display: block;
        padding: 1vh 0;
        color: #fff;
        text-align: center;
        font-family: $font-family-fancy;
        font-weight: 500;
        font-size: 10vh;
        line-height: 10vh;
        text-transform: uppercase;
        transition: color 0.2s, background 0.5s;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    }
        .mobilemenu .menuitem-products {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

        .mobilemenu .menuitem:focus,
        .mobilemenu .menuitem:hover,
        .mobilemenu .menuitem:active {
            color: $brand-primary!important;
            text-decoration: none;
            background-color: #fff;
        }

    /* Mobile Menu: Menu Items - Product Menu ----------------------------------------------------- */
    .products-dropdown .menuitem {
        padding: 0.5em;
        line-height: 1.1em;
        text-align: left;
        font-size: 2.25em;
    }

    /* Mobile Menu: Footer ----------------------------------------------------- */
    .mobilemenu-footer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
        width: 100%;
        height: 15vh;
        background-color: rgba(255,255,255,0.2);
        border-bottom: 10px solid $brand-danger;
        text-align: center;
        transform-origin: bottom center;
        transition: all 0.5s ease-in;
    }
        .productNavOpen .mobilemenu-footer {
            bottom: -15vh;
            max-height: 0;
            opacity: 0;
        }
        .mobilemenu-footer .mobilemenu-icon-svg {
            display: inline-block;
            max-height: 45px;
            max-width: 50px;
            fill: #fff;
        }
        .mobilemenu-footer a {
            display: block;
            padding-top: 0.5em;
            font-size: 1.05em;
            color: #fff;
        }
        .mobilemenu-footer a:active,
        .mobilemenu-footer a:hover {
            color: #fff!important;
            text-decoration: none;
        }
        .mobilemenu-footer .menu-label {
            display: block;
            line-height: 1;
        }

    @media screen and (orientation: landscape) {

        .mobilemenu-header {
            width: 15vw;
            height: 15vh;
            transition: all 0.2s linear;
        }
            .mobilemenu-header .mobilemenu-icon-svg,
            .mobilemenu-footer .mobilemenu-icon-svg {
                max-width: 26px; 
                max-height: 26px;
            }
            .mobilemenu-header .mobilemenu-back,
            .mobilemenu-header .mobilemenu-close {
                padding-top: 0.75em;
                height: 13vh;
                transition: all 0.25s linear;
            }

        .mobilemenu-body {
            left: 15vw;
            top: 1vh;
            width: 85vw;
            height: 100%;
            max-height: 99vh;
        }

        .mobilemenu-l1 {top: 15vh; max-height: 85vh;}
        .mobilemenu .menuitem {
            padding-left: 30px;
            font-size: 13vh;
            line-height: 15vh;
            text-align: center;
        }
            .products-dropdown .menuitem {
                padding: 0.5em 1em;
                font-size: 2.25em;
                line-height: 1.1em;
                text-align: left;
            }
        .mobilemenu-footer {
            left: 0;
            width: 15vw;
            height: 100%;
        }
        .productNavOpen .mobilemenu-footer {
            left: -15vw;
            bottom: 0;
            max-height: 0;
            opacity: 0;
        }
            .mobilemenu-footer-item {
                float: none;
                width: 100%;
                padding: 15px;
            }
    }
    @media screen and (max-width: $screen-sm) and (orientation: landscape) {
        .mobilemenu-toggle {margin-top: 8px}
        .masthead-branding-logo img {max-height: 45px}
        #mobile-search {margin-top: 10px}
        .minicart-icon-mobile {margin-top: 8px}
        .search-dropdown {left: 15px; right: 15px}
    }
    @media screen and (max-width: $screen-xs-max) {
        .nav_modal_bg {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .8;
            z-index: 6;
            background-color: #000;
        }
    }
}// end .ggds namespace

/*Fixed position background*/
body.nav_open {
    width: 100%;
    position: fixed;
    overflow: hidden;
}
body.nav_open #contentWrapper,
body.nav_open .masthead-header {-webkit-filter: blur(4px)}
/*End _masthead.mobile.scss*/