/*This file has been reviewed and cleaned by James on 20.03.2017 -- CSS are ready to go*/
.ggds {

    .minicart-icon-mobile {padding-left: 10px}
    .minicart-icon-mobile a {
        display: inline-block;
        width: 50px;
        position: relative;
    }

    .minicart-icon-mobile .items {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3px 5px;
        background: $brand-secondary;
        color: #fff;
        border-radius: 99px;
        font-size: 10px;
        font-family: $font-family-base;
        line-height: 1;
        font-weight: 700;
    }

    /* Minicart ----------------------------------------------------- */
    .minicart-section {
        position: relative;
        min-height: 50px;
        overflow: visible;
        text-transform: uppercase;
        color: $gray-darker;
    }
        .minicart-icon {
            padding: 0.6em 0 0 0;
            margin-left: -10px;
        }
            .minicart-icon a {
                display: inline-block;
            }
            .minicart-icon .icon {
                display: inline-block;
                height: 25px;
                width: 25px;
                fill: $brand-primary;
            }
        .minicart-section .summary {border-left: 1px solid $gray-light}
        .minicart-section h4 {
            margin: 0;
            font-family: $font-family-fancy;
            line-height: 1;
            clear: both;
        }
        .minicart-dropdown {
            position: absolute;
            top: 100%;
            right: 0;
            width: 250px;
            max-height: 350px;
            background: $gray-lighter;
            @include card(1);
            border-bottom: 8px solid $brand-success;
            z-index: 1006;
            font-size: 0.9em;
            transition: all ease-in-out 0.3s;
        }
            .minicart-dropdown .inner-content {
                margin: 5px;
                padding: 5px;
                max-height: 340px;
                background: #fff;
                transition: all ease-in-out 0.3s;
            }
            .minicat-container .productwrap {padding: 3px 0}

                .minicat-container .cart-totalwrap { padding-bottom: 5px; margin-left: 35px; border-top: 1px solid $gray-lighter}
                    .minicat-container .cart-totalwrap .total {font-weight: 600}
                    .minicat-container .footer {padding-bottom: 10px}

    @media screen and (min-width: $screen-sm) {
        .minicart-section {
            background: $gray-lighter;
            padding: 15px 0 5px 0;
            border-bottom: 3px solid $brand-success;
        }
            .minicart-icon {padding: 0 15px}
            .minicart-icon a {margin: 5px 10px 0 3px}
            .minicart-icon .icon {fill: $brand-success}
    }

    @media screen and (min-width: $screen-md) {
        .minicart-icon a { margin-left: 7px}
    }

}
