.modal .product-gallery-nav img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.ggds .modal-header h3 {margin: 0}
#quickInfoContent #reevooDiv > div:nth-child(2) div {
    top: -8px;
    height: 12px !important;
    width: 93px!important;
    background-position: -9px -10px !important;
    margin-left: 107px;
    background-image: url(//www.thegoodguys.com.au/cs/groups/public/documents/graphic/reevoo-icon-askanowner-new-png.png)!important;
}

#quickInfoContent #reevooDiv > div:nth-child(2) div span {
    top: 1px!important;
    left: 25px !important;
}