/*-------------------------------------------------------------*/
/* style.css */
/*-------------------------------------------------------------*/
/* line:50 -- "a:hover" */
#masthead .menu-main-l1 a:hover, #masthead .menu-main-l2 a:hover {color: #fff!important}
#masthead .menu-main-l3 a:hover {color: $brand-secondary!important}
/*-------------------------------------------------------------*/
/* content-style.css */
/*-------------------------------------------------------------*/
/* line:89 -- ".tggcontent .catalogue, .tggcontent .deal" */
@media (min-width: 768px){
    .tggcontent .catalogue, .tggcontent .deal {
        padding: 0;
    }
}
/*-------------------------------------------------------------*/
/* bass.css */
/*-------------------------------------------------------------*/
/* Changes refer to bass.css*/

/*-------------------------------------------------------------*/
/* common1_1.css */
/*-------------------------------------------------------------*/
/* Changes refer to common1_1.css*/

.ggds .spanacce {display: none}
/*Temp fix for content-style.css, please delete below after get masthead live*/
@media screen and (min-width: 1024px) and (orientation: portrait) {
	#masthead .col-sm-2.supplementary {
	    width: 33.3333333333%;
	    left: initial;
	}
	#masthead #search.col-sm-3 {
	    left: initial;
	}
}